{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
"minify": {
      "compress":true,
      "mangle": true
    },
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6"

  },
 "minify": true
}
